@charset "utf-8";

.bgbox {
	position: relative;
}

.bgimg {
	top: 0;
	position: absolute;
}

/*공통*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

html,
body {
	font: 12pt/160% 'Noto Sans KR', sans-serif;
	letter-spacing: -0.75pt;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
}

/*스크롤 표시기*/
.progress-container {
	position: absolute;
	top: 100%;
	height:4px;
	width:100%;
	left:0;
}

.progress-bar {
	height:4px;
	background: linear-gradient(to right, rgb(255, 208, 217), rgb(176, 210, 255));
	width:0%;
}


/*내비게이션*/
nav {
	position: fixed;
	width: 100%;
	top: 0;
	padding:1% 5%;
	font-weight: bold;
	z-index: 1;
	transition: 0.3s;
}

nav.act {
	background: #ffffff;
}

nav>div {
	margin: auto;
	display: flex;
}

nav p {
	flex: 1;
	font-size: 1.2rem;
	color:#3984bd;
}

nav a {
	margin-left: 20pt;
	color: #3984bd;
	padding: 5px;
}

nav a:hover {
	color: #ffffff;
	background: linear-gradient(to right, #3984bd 0, white 10%, #3984bd 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s infinite linear;
	animation-fill-mode: forwards;
	-webkit-text-size-adjust: none;
}

@keyframes shine {
	0% {
		background-position: 0;
	}

	60% {
		background-position: 180px;
	}

	100% {
		background-position: 180px;
	}

}

/*헤더*/
#top {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100vh;
}

/* 타이핑효과*/
.txt-title{
	margin-top:37vw;
	font-size:2rem;
	line-height:200%;
	font-weight:bold;
	background:linear-gradient(0.25turn, rgb(255, 201, 211), rgb(176, 210, 255));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	text-align:center;
  }

/*밤하늘의 별 배경*/
  /* 배경 */
  .backSky {
	width:100%;
	height:50vw;
	background: linear-gradient(to right, #111, #0e0f19);  
	overflow: hidden;
  }
  
  /* 별을 감싼 부모 */
  .sky {
	left:50%;
	width:100%;
	height:50vw;
	animation: moveStar 100s linear infinite;
  }
  
  /* 별 */
  .sky .star {
	fill: #fff;
	stroke: none;
	stroke-width:0;
  }
  
  /* 별 이동효과 */
  @keyframes moveStar {
	from {
	  transform: translate(0) rotate(0)
	}
  
	to {
	  transform: translate(0) rotate(360deg)
	}
  }

#scroll {
	margin:auto;
	max-width: 100px;
	text-align: center;
	margin-top: 30px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.438);
}

#top i {
	font-size: 2rem;
	color: white;
	display: block;
	animation: down 1s infinite both;
}

@keyframes down {
	from {
		transform: translateY(-10pt);
		opacity: 1;
	}

	to {
		transform: translateY(0);
		opacity: 0;
	}
}

#top a {
	color: white;
}


h2 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 60pt;
}

.area {
	padding-top: 11vh;
	min-height: 100vh;
}


/*About*/
.bbtom {
	padding-bottom: 3%;
	border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 201, 211), rgb(176, 210, 255));
    border-image-slice: 1;
}

#about {
	margin-top:13vw;
}

#about img {
	width: 250pt;
	margin: 0pt auto;
}

#about>p {
	max-width: 150pt;
	margin: auto;
	text-align: center;
}

#about q {
	font-weight: bold;
	font-size: 1.2rem;
	line-height: 200%;
}

#about>div {
	max-width: 900pt;
	margin: auto;
	display: flex;
}

#about section {
	flex: 1;
}

#about section:nth-child(1) {
	flex: 1;
}

#about section:nth-child(2) {
	flex: 2;
}

#about section:nth-child(3) {
	flex: 0.8;
}

#about section>p {
	font-weight: 300;
	font-size: 0.9rem;
}

#about h3 {
	margin: 50pt 0 10pt 0;
}


/*Portfolio*/
.bod {
	padding-bottom: 3%;
	border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 201, 211), rgb(176, 210, 255));
    border-image-slice: 1;
}

#portfolio {
	max-width: 1000pt;
	margin: auto;
	overflow: hidden;
	margin-top: 5%;
}

#portfolio>section {
	display: flex;
}

#leeum {
	padding: 10vh 0 18vh 0;
}

#portfolio>section:nth-of-type(1) {
	transform: translateY(100px);
	opacity: 0;
	transition: 1s;
}

#portfolio>section:nth-of-type(1).act {
	transform: translateY(0);
	opacity: 1;
}

#portfolio>section:nth-of-type(2)>div:first-child {
	transform: translateX(-450pt);
	transition: 3s;
}

#portfolio>section:nth-of-type(2)>div:last-child {
	transform: translateX(600pt);
	transition: 3s;
}

#portfolio>section:nth-of-type(2).act>div:first-child {
	transform: translateX(0);
}

#portfolio>section:nth-of-type(2).act>div:last-child {
	transform: translateX(0);
}

#portfolio>section:nth-of-type(3)>div:first-child {
	transform: scale(0.5);
	opacity: 0;
	transition: 3s;
}

#portfolio>section:nth-of-type(3)>div:last-child {
	transform: scale(0.5);
	opacity: 0;
	transition: 3s;
}

#portfolio>section:nth-of-type(3).act>div:first-child {
	transform: scale(1);
	opacity: 1;
}

#portfolio>section:nth-of-type(3).act>div:last-child {
	transform: scale(1);
	opacity: 1;
}

#portfolio>section:not(#leeum) {
	min-height: 100vh;
	padding-top: 28vh;
}

#portfolio div {
	line-height: 270%;
}

#portfolio h3 {
	font-size: 2.3rem;
	padding-bottom: 20pt;
}

#portfolio div:first-child {
	padding-right: 30pt;
}

#portfolio ul {
	list-style: none;
	margin-bottom: 25pt;
}

#portfolio li {
	display: flex;
}

#portfolio b {
	min-width: 60pt;
}

#portfolio span {
	line-height: 180%;
	text-align: justify;
}

#portfolio a {
	padding: 6pt 30pt;
	border-radius: 20pt;
	border: 1pt solid #ddd;
	color: black;
	font-size: 1.rem;
	font-weight: 500;
	transition: 0.3s;
}

#portfolio a:first-of-type {
	margin-right: 10pt;
}

#portfolio a:hover {
	background: #555;
	color: white;
}

/*skill*/
.skill-progress {
	padding: 0 20px;
}

.skillitem {
	margin-bottom: 5%;
}

.skillitem p {
	font-size: 13px;
	overflow: hidden;
}

.skillitem p span:nth-child(1) {
	float: left;
}

.skillitem p span:nth-child(2) {
	float: right;
}

.progress {
	border: 1px solid rgb(245, 245, 245);
	padding: 1%;
}

.progress .progress-level {
	height: 10px;
	background: linear-gradient(to right, rgb(255, 208, 217), rgb(176, 210, 255));
	animation-name: ani;
	animation-duration: 2s;
}

@keyframes ani {
	0% {
		width: 0;
	}
}


/*Event and Detail*/
.evnbor{
	padding-bottom: 3%;
	border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 201, 211), rgb(176, 210, 255));
    border-image-slice: 1;
}

#event {
	max-width: 900pt;
	margin: auto;
}

#event>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*호버 각각 셀*/
#event>div>div {
	position: relative;
	margin-bottom: 10pt;
	width: 280pt;
	overflow: hidden;
}

#event div img {
	width: 100%;
	height: 100%;
	transition: 0.3s;
}

/*호버: 검정바탕*/
#event div p {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	top: 0;
	color: white;
	text-align: center;
	opacity: 0;
	transition: 0.3s;
}

/*호버: 돋보기*/
#event i {
	font-size: 2rem;
	display: block;
	margin-top: 40%;
}

/*호버: 검정+돋보기+더보기글자
#event  div:hover img {transform:scale(1.1); cursor:pointer;}
#event  div:hover p {opacity:1;}*/

#event div.ho img {
	transform: scale(1.1);
	cursor: pointer;
}

#event div.ho p {
	opacity: 1;
}

#contact {
	margin-top:5%;
	background:#f0f9fe;
}

#contact b {
	display: block;
	font-size: 1.1rem;
	font-weight: 400;
	padding-top: 20pt;
}

#contact div {
	max-width: 600px;
	margin: auto;
	display: flex;
	padding-top: 30pt;
}

#contact section {
	flex: 1;
	text-align: center;
}

#contact i,
#contact a.fas {
	font-size: 5rem;
	color: #3984bd;
	padding-bottom: 10pt;
}

#contact h3+a {
	color: black;
}


/*팝업 큰이미지 보기*/
#popup {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 2;
	height: 100vh;
	overflow: auto;
	display: none;
}

#popup h3 {
	padding: 15pt;
	background: #333;
	text-align: center;
	color: white;
}

#popup img {
	margin: auto;
}

/*상단스크롤 버튼*/
.upbtn {
	display:none;
	right:5%;
	position:fixed;
	bottom:40%;

}

.upbtn a {
	background:#3984bd;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0;
    display: flex;
    font-size: 2rem;
}

/*햄버거버튼*/
.navv button{
	border:none;
	background:none;
	font-size:1.5rem;
	color:#3984bd;
	display:none;
	cursor:pointer;
}



@media (max-width:600px) {
	.bgbox img{
		padding-top:15%;
	}

	.txt-title{
		margin-top:50%;
		font-size:1rem;
	}

	h2 {
		font-size: 2rem;
	}

	#top i {
		font-size: 1rem;
	}

	nav{
		box-shadow:0px 0.3px 5px rgb(224, 224, 224);
		padding:3%;
	}

	nav>div {
		flex-direction:column;
	}

	nav p {
		margin-bottom:10pt;
	}

	nav p+div {
		line-height: 150%;
	}

	.navi{
		text-align:center;
		display:none;
		width:100%;
	}

	nav a {
		display:block;
		width:100%;
		margin-left:0;
	}

	.navv button{
		position:absolute;
		right:5%;
		display:block;
	}

	/***********/

	#about {
	
		padding-bottom: 20pt;
	}

	#about img {
		max-width: 60%;
	}

	#about>div {
		display: block;
		padding: 0 10pt;
	}

	/***********/
	#portfolio>section {
		padding: 0 10pt;
	}

	#portfolio>section:nth-of-type(1) {
		transform: translateY(0);
		opacity: 1;
	}

	#portfolio>section:nth-of-type(2)>div:first-child {
		transform: translateX(0);
	}

	#portfolio>section:nth-of-type(2)>div:last-child {
		transform: translateX(0);
	}

	#portfolio>section:nth-of-type(3)>div:first-child {
		transform: scale(1);
		opacity: 1;
	}

	#portfolio>section:nth-of-type(3)>div:last-child {
		transform: scale(1);
		opacity: 1;
	}

	#portfolio h3 {
		font-size: 1.8rem;
	}

	#portfolio img {
		margin-bottom: 30pt;
	}

	#leeum,
	#tae {
		flex-direction: column-reverse;
	}

	#burts {
		flex-direction: column;
	}

	#portfolio div:first-child {
		padding-right: 0pt;
	}

	#portfolio a {
		padding: 4pt 13pt;
	}

	#portfolio a:first-of-type {
		margin-right: 5pt;
	}


}

/* 넓이 (0~375픽셀) */
@media (max-width:375px) {

}